target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.classpath
/.mvn/wrapper/maven-wrapper.properties
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/LOG_PATH_IS_UNDEFINED/error.log
/LOG_PATH_IS_UNDEFINED/info.log
/backstage/.classpath
/backstage/.settings/org.eclipse.wst.common.project.facet.core.xml
/backstage/LOG_PATH_IS_UNDEFINED/error.log
/backstage/LOG_PATH_IS_UNDEFINED/info.log
/backstage/.mvn/wrapper/maven-wrapper.jar
/backstage/.mvn/wrapper/maven-wrapper.properties
/backstage/.project
/backstage/.settings/org.eclipse.core.resources.prefs
/backstage/.settings/org.eclipse.jdt.core.prefs
/backstage/.settings/org.eclipse.m2e.core.prefs
/backstage/.settings/org.eclipse.jdt.apt.core.prefs
/app/uniapp/spirit/unpackage
/app/desktop/spirit-app/package-lock.json
/app/desktop/StreamVault/package-lock.json
/app/desktop/StreamVault/dist_electron/
/app/desktop/StreamVault/node_modules/
/app/desktop/StreamVault-tauri/node_modules/
/app/desktop/StreamVault-tauri/src-tauri/target/
/app/desktop/StreamVault-tauri/src-tauri/Cargo.lock
/backstage/src/main/docker/buildx/script/logs

# extend - StreamVault CLI runtime files
extend/**/config.json
extend/**/.last_query.json